*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* shared style  */

.dark-1{
    color:#131313;
}

.dark-2{
    color:rgba(66, 66, 66, 1);
}

.dark-3{
    color:rgba(114, 114, 114, 1);
}

.white-color{
    color:#424242;
}

.yellow-color{
    color:#FF900E;
}

.bg-yellow{
    background-color: rgba(255, 216, 14, 0.1);
}

.container{
    max-width: 1440px;
    margin: auto;
}
.flex{
    display: flex;
}

.btn-global{
    background-color: #FF900E;
    color:#ffffff;
    padding:23px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border:none;
    margin-bottom: 30px;
    cursor: pointer;
}

img{
    max-width: 100%;
}


.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3rem;
}

.section-description{
    font-size: 1rem;
    line-height: 1.5rem;
}




/* global css end  */

header{
     padding: 20px 0 50px;
}
nav{
    margin:auto;
    justify-content: space-between;
    padding: 20px 0;
}

nav .brand{
    font-size: 45px;
    font-weight: 600;
    color:#131313;
}
nav ul li{
    list-style: none;
    padding:20px;
}


nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.hero-text-box{
    max-width: 860px;
    margin:auto;
    text-align: center;
    padding: 0 20px;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
}

.section-description , .section-title{
    margin-bottom: 1.5rem;
}

/* banner section end  */

/* our feature style start   */
.our-feature{
    align-items: center;
    padding: 100px;
}

.our-feature .team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-feature > div {
    max-width: 50%;
}
 .our-feature .content-box{
    margin-left: 100px;
    max-width: 540px;
 }

/* ---------------- Our some Fect --------------------  */



.fect{
    padding: 100px 20px;
}

.fect-container{
    justify-content: space-between;
    padding: 20px 50px;
}
.fect-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 10px;
    border:1px solid #FF900E;
    gap:15px;
    border-radius: 10px;

}


.sponsor{
    text-align: center;
    margin: auto;
    padding: 70px 20px;
}

.section-text-box{
    max-width: 540px;
    margin: auto;
}

.sponsor-logo{
    display: flex;
    justify-content: space-between;
}
.sponsor-logo img {
    filter: grayscale(100);
}

footer{
    margin: 30px 0 100px;
}

footer p{
    text-align: center;
    padding: 30px;
    background-color: #FFF4E7;
    border-radius: 5px;
}












/* -------------------- responsive design   ----- */

@media screen and (max-width:576px){
    header{
        padding: 20px;
    }

    nav , .our-feature{
        flex-direction: column;
    }
    .img-box img{
        max-width: 100%;
        padding: 0 20px;
    }
    .our-feature{
        padding: 20px;
    }
    .our-feature .team-images{
        grid-template-columns: 1fr;
    }
    .our-feature > div{
        max-width: 100%;
        padding: 20px;
    }
    .our-feature .content-box{
        margin-left: 20px;
    }
    .fect-container{
        padding: 20px;
        flex-direction: column;
        gap:20px;
    }
    .sponsor ,
    .fect
    {
        padding: 20px;
    }
    .sponsor-logo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:30px;
        filter: grayscale(0);
    }
}







